*{
    margin: 0px;
    padding: 0px;
}
.main{
    display: flex;
    padding: 14px;
    background-color: #316dc3;
justify-content: center;
}
.icon{
    left: 30px;
}
.wrd{
    color: white;
    padding: 3px;

}
.btn{
    padding: 3px;
    text-align: justify;
    position: absolute;
    right: 30px;
    

}
.nav-links{
    display: flex;
    
}
.nav-links li{
    display: inline-block;
    right: 30px;
    font-size: 20px;
    
    padding: 5px;
    margin: 14px;
    
}
.nav-links li:hover{
    background-color: blue;
}

.nav-links li a{
    color:black;
    text-decoration: none;
    padding: 10px 10px;
    
}




.marq{
    background-color:  #316dc3;
    padding: 7px;
    margin: 40px;
}
h2{
    text-align: center;
}


.intro-about{
    justify-content: center;
}
.value{
    
   
    text-align: center;
    
}
.num{
    display: inline-block;
    background-color: #2655e8;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    color: white;
    
    
}
.we-do{
    display: flex;
    text-align: center;
    


}
.mission-box{
    display: flex;
    text-align: center;
}
.mission-main p {
    right: 30px;
}